.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}

.name{
    font-weight: bold;
    margin-top: 30%;
    margin-bottom: 1%;
}

.full{
    margin-top: 1%;
}

@media (min-width: 576px){
    #profilePicture{
        position: absolute;
        width: 10%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 4%;
        top: 270px;
    }
}

@media (max-width: 575px){
    #profilePicture{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 350px;
    }
}

