
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img id="profilePicture" src="../../../assets/perfil.png" class="img-fluid">
            <p class="name">Facundo Rodriguez</p>
            <p class="full">Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, beatae similique. 
                   Dolor, est magni quo aspernatur distinctio, adipisci soluta tenetur maxime nihil ea voluptas. 
                   Officia cupiditate laudantium maiores exercitationem porro!</p>
            </span>
        </div>
    </div>
