<div class="row">
  <h1>Hard & soft Skills</h1>
   <div class="col-sm-1 col-md-1 col-lg-1">
   </div>
   <div class="col-sm-11 col-md-11 col-lg-11">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]= "'HTML'"
            [titleColor]="'#918e8e'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]= "'CSS'"
            [titleColor]="'#918e8e'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#7305f0'"
            [innerStrokeColor]="'#9d6bd6'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]= "'React.Js'"
            [titleColor]="'#918e8e'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ed7009'"
            [innerStrokeColor]="'#e8ad7d'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]= "'JavaScript'"
            [titleColor]="'#918e8e'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#eef51b'"
            [innerStrokeColor]="'#d1e87d'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]= "'Ruby'"
            [titleColor]="'#918e8e'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#a1b5cb'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]= "'Boostrap'"
            [titleColor]="'#918e8e'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#36dff5'"
            [innerStrokeColor]="'#9ddbe3'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>        
   </div>
</div>